body {
    background-color: #1a1a1a;
    color: white;
}

p {
    color: grey;
}

nav {
    margin-bottom: 20px;
    padding: 10px 110px;
    background-color: #282828;
}

a.nav-link {
    color: grey;
}

a.nav-link:hover {
    color: white;
}

.profile-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.row {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.left-col {
    border-radius: 10px;
    background-color: #282828;
    margin-right: 10px;
}

.right-col {
    border-radius: 10px;
    background-color: #282828;
    margin-left: 10px
}

.poll {
    margin: 10px;
}

.social-media a {
    text-decoration: none;
    color: black;
}

.fa-brands {
    color: grey;
}

.fa-brands:hover {
    color: white;
}

.card {
    background-color: #373737;
}