
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Serif', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.profilepic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.inputWithIcon {
    position: relative;
    width: auto;
    height: 40px;
    margin-top: 10px;
  }
  
.inputWithIcon i {
    position: absolute;
    left: 10;
    top: 12px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.inline {
    width: 50%;
    font-size: 15px;
}

.left-container{
    width: 17vw;
    height: 125vh !important;
    margin-left: 20px;
    margin-top: 90px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
}

.left-top-container{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding-bottom: 5px ;
}


.icon-show{
    width: 30px;
    height: 30px;

}

.left-top-color-grid{
    background-color: #595F9B;
    width: 100%;
    height: 90px;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 950px) {
    .left-container{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .right-container{
        display: none;
    }
}
    
.left-top-container-bar{
    width: 100%;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.content-box{
    margin-top: 60px;
}
.content-box-2{
    margin-top: 20px;
}

.left-top-container-bar-img{
    width: 5rem;
    height: auto;
    border-radius: 50%;
    border-color: white;
    border: 3px solid white;
    margin-left: 75px;
    margin-top: 20px;
    position: relative;
}



.left-top-container-bar p{
    font-size: 18px;
    margin: 5px;
    color: black;
    display: flex;
    justify-content: center;
}

.like-p{
    font-size: 18px;
    margin: 5px;
    color: #595F9B;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
}

.left-bottom-container{
    width: 100%;
    height: fit-content;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    /* margin-left: 20px; */
    /* visibility: hidden; */
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.user-profile-img-1{
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px;
}

.flex-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .right-user-suggestion-1-name{
    width: 100%;
    border: 1px solid black;
} */


.right-user-suggestion-1{
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.user-suggestion-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trending-box-item-left{
    /* margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: start; */
    width: 164px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.trending-box-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#feed{
    display: flex;
    justify-content: space-evenly;
}

.center-container{
    /* border: 1px solid black; */
    min-width: 50vw;
    margin-top: 82px;
    height: 125vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

#promoted-poll-container{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right-container{
    /* border: 1px solid black; */
    width: 17vw;
    height: 125vh !important;
    margin-right: 20px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.center-container::-webkit-scrollbar {
    display: none;
  }
  
/*  feed box css */

.center-feed-poll-item{
    width: 95%;
    height: fit-content;
    padding-bottom:20px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

#feed-user-info-name{
    font-size: 18px;
    /* font-weight: 700; */
}
#feed-user-info-username{
    font-size: 16px;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.6) !important;
}



.feed-center-title-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    margin-top: 8px;
}

.feed-center-title-bar-1{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit-btn-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.feed-center-poll-question{
    margin-left: 30px;
    margin-right: 30px;
}

#question-title-center-feed{
    font-size: 18px !important;
}

.side-info-question-feed{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}
.poll-question-desc{
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
}

.submit-button-setting{
    width: 120px;
    height: 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #595F9B;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    text-decoration:none;
}

@media screen and (max-width:768px) {
    .submit-button-setting{
        width: 80px;
        height: 20px;
        font-size: 14px;
    }
    .submit-btn-contain{
        margin-right: 0.5rem;
    }
    .feed-center-title-bar{
        width: 50%;
    }
    .side-info-question-feed{
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .side-info-question-feed div{
        width: 30%;
    }
    #like-p{
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
    }
}

.poll-center-options{
    display: flex;
    flex-direction: column;
}

#like-p{
    display:none;
}

.poll-center-options label{
    display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}

.poll-center-options label:hover{
    border-color: #ddd;
    cursor: pointer;
}

label.selected{
    border-color: #6665ee!important;
}
  
label .row{
    display: flex;
    pointer-events: none;
    justify-content: space-between;
}
  
label .row .column{
    display: flex;
    align-items: center;
}

label .row .circle{
    height: 19px;
    width: 19px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

label.selected .row .circle{
    border-color: #595F9B;
}

label .row .circle::after{
    content: "";
    height: 11px;
    width: 11px;
    background: #595F9B;
    border-radius: inherit;
    position: absolute;
    left: 4px;
    top: 4px;
    display: none;
}

.poll-center-options label:hover .row .circle::after{
    display: block;
    background: #e6e6e6;
}

label.selected .row .circle::after{
    display: block;
    background: #595F9B!important;
}
  
label .row span{
    font-size: 16px;
    font-weight: 500;
}

label .row .percent{
    display: none;
}

label .progress{
    height: 7px;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    margin: 8px 0 3px 0;
    border-radius: 30px;
    display: none;
    pointer-events: none;
}

label .progress:after{
    position: absolute;
    content: "";
    height: 100%;
    background: #ccc;
    width: calc(1% * var(--w));
    border-radius: inherit;
    transition: all 0.2s ease;
}

label.selected .progress::after{
    background: #595F9B;
}

label.selectall .progress,
  label.selectall .row .percent{
    display: block;
}

input[type="radio"],
  input[type="checkbox"]{
    display: none;
}

#trending-poll-name{
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

.shadow-color{
    color: rgba(0, 0, 0, 0.6) !important;
}

.right-bottom-container{
    width: 100%;
    height: fit-content;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    /* margin-left: 20px; */
    /* visibility: hidden; */
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    display: block;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 30%;
    position: relative;
    max-height: 550px;
    transition: all 3s ease-in-out;
    overflow: scroll;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-size: 30px;
    color: #595F9B;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .edit-opt{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .popup .close:hover {
    color: #595F9B;
    border: none !important;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    margin-left: 33px;
  }

  .content input{
    /* border: none; */
    /* border-bottom: 1px solid #595F9B !important;
    border-radius: 0px !important;
    padding: 1px 20px !important; */
    padding-left: 0 !important;
    outline: 0;
    border-radius: 0px !important;
    border-bottom: 1px solid #000000 !important;
    border-width: 0 0 2px !important;
    border-color: #000000;
    font-size: 14px;
  }

  .success{
    text-align: center;
  }

  .content input:focus{
    border-color: #595F9B !important;
  }

  .content p{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #595F9B;
  }

  .content button{
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: #585858(120, 120, 120);
    border: 1px solid black(120, 120, 120);
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    text-decoration:none;
  }

  .submit-container{
    display: flex;
    justify-content: center;
  }
  
  #submit-poll{
    background-color: #595F9B;
    border: 1px solid #595F9B;
    color: white;
    margin-top: 80px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .input-field{
    margin-top: 8px;
    height: fit-content;
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #595F9B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


  .poll{
    /* position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    border-radius: 25px;
    box-shadow: -2px -2px 5px #00000000,
                3px 3px 7px #00000040; */
    margin-left: 22px;
    margin-right: 25px;
}

.poll .question{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 1.2em;
}

.poll .answer{
    padding: 20px;
}

.poll .answers .answer{
    position: relative;
    margin-top: 8px;
    width: 95%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.poll .answers .answer.selected{
    border: 2px solid #595F9B;
}

.poll .answers .answer span.percentage_value{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    color: #111;
    font-size: 15px;
    margin-right: 15px;
}

.poll .answers .answer span.percentage_bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d4daff;
    z-index: -2;
    transition: width 200ms ease-in-out;
}
