body {
    margin-top: 8rem;
}

.navbar {
    background-color: #595F9B;
}

a.navbar-brand {
    color: #eafcfc8e;
}

a.navbar-brand:hover {
    color: white;
}

a.nav-link {
    color: #eafcfc8e;
}

a.nav-link:hover {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #eafcfc8e;
}

.navbar-nav .nav-link.active:hover {
    color: white;
}

button.navbar-toggler {
    background-color: #eafcfc8e;
    color: #eafcfc8e;
    border: none;
    scale: 0.75;
}

a {
    padding: 0px;
    text-decoration: none;
    line-height: 3;
    color: #144b48;
}

p {
    color: white;
}

li {
    border-bottom: 0.2rem solid transparent;
}

#main-content {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #595F9B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.left-col {
    max-width: 25%;
    border: 2px solid #595F9B;
    border-radius: 1rem;
    background-color: #595F9B;
    color: white;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.col {
    margin: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 2.5rem;
}

.profile-pic {
    border-radius: 50%;
    width: 8rem;
    margin: 1rem;
}

.logo {
    height: 50px;
    width: auto;

}

.fa-brands {
    color: rgb(192, 190, 190);
}

.fa-brands:hover {
    color: white;
}

.card-text {
    color: black;
}

.card-btn {
    background-color: #595F9B;
    border: none;
}

.card-btn:hover {
    background-color: #144b48;
}

@media all and (max-width:550px) {

    .left-col {
        max-width: 100%;
    }
}