body {
    margin-top: 8rem;
}

.navbar {
    background-color: #595F9B;
}

a.navbar-brand {
    color: #eafcfc8e;
}

a.navbar-brand:hover {
    color: white;
}

a.nav-link {
    color: #eafcfc8e;
}

a.nav-link:hover {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #eafcfc8e;
}

.navbar-nav .nav-link.active:hover {
    color: white;
}

button.navbar-toggler {
    background-color: #eafcfc8e;
    color: #eafcfc8e;
    border: none;
    scale: 0.75;
}

a {
    padding: 0px;
    text-decoration: none;
    line-height: 3;
    color: #144b48;
}

p {
    color: white;
}

li {
    border-bottom: 0.2rem solid transparent;
}

#main-content {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #595F9B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.left-col {
    max-width: 25%;
    border: 2px solid #595F9B;
    border-radius: 1rem;
    background-color: #595F9B;
    color: white;
    height: fit-content;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.col {
    margin: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 2.5rem;
}

.profile-pic {
    border-radius: 50%;
    width: 8rem;
    margin: 1rem;
}

.logo {
    height: 50px;
    width: auto;

}

.fa-brands {
    color: rgb(192, 190, 190);
}

.fa-brands:hover {
    color: white;
}

.card-text {
    color: black;
}

.card-btn {
    background-color: #595F9B;
    border: none;
}

.card-btn:hover {
    background-color: #144b48;
}

@media all and (max-width:550px) {

    .left-col {
        max-width: 100%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    display: block;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 25%;
    position: relative;
    max-height: 550px;
    /* transition: all 3s ease-in-out; */
    overflow: scroll;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-size: 30px;
    color: #595F9B;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    /* transition: all 200ms; */
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.edit-opt {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.popup .close:hover {
    color: #595F9B;
    border: none !important;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    /* margin-left: 33px; */
}

.content input {
    /* border: none; */
    /* border-bottom: 1px solid #595F9B !important;
    border-radius: 0px !important;
    padding: 1px 20px !important; */
    padding-left: 0 !important;
    outline: 0;
    border-radius: 0px !important;
    border-bottom: 1px solid #000000 !important;
    border-width: 0 0 2px !important;
    border-color: #000000;
    font-size: 14px;
}

.right-user-suggestion-1 {
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user-suggestion-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-profile-img-1 {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px;
}

.content input:focus {
    border-color: #595F9B !important;
}

.content p {
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
}

.content button {
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: #585858(120, 120, 120);
    border: 1px solid black(120, 120, 120);
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    text-decoration: none;
}

#followings{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
    font-weight: 600;
    position: relative;
    top: 8px;
}

#followers{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 600;
    position: relative;
    top: 8px;
}

#follow-btn{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    border-color: white;
}