html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Serif', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}


.header {
    /* border: 2px solid red; */
    width: 100vw;
    height: 57px;
    margin-top: -57px;
    position: fixed;
    z-index: 100;
    background-color: #7474c4;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: large;
}

.header h3 {
    font-size: 24px;
    margin: 20px;
    font-weight: 500;
    color: #fff;
    margin-left: 70px;
    margin-right: 65%;
}

.header li {
    margin: 20px 30px;
    list-style-type: none;
    display: inline-block;
    font-weight: 300;
    font-size: 19px;
    color: white;
    cursor: pointer;
}

.header a {
    margin: 20px 30px;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    padding: 7px 20px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.leftside {
    /* border: 2px solid red; */
    display: inline-block;
    text-align: center;
    position: fixed;
    background-color: #ebebfb;
    height: -webkit-fill-available;
    width: 329px;
    overflow: hidden;
}

.leftside h2 {
    font-size: 25px;
    margin: 20px 0 10px;
    margin-left: 37px;
    text-align: left;
    /* font-weight: 500; */
    color: #0808b9;

}

.leftside h3 {
    font-size: 20px;
    margin-left: 37px;
    text-align: left;
    /* font-weight: 500; */
    color: #0808b9;
}

.leftside li {
    list-style: none;
    text-align: left;
    margin: 15px 3px;
    padding: 5px 0;
    font-size: 20px;
    cursor: pointer;
}

.leftside li:active {
    background-color: #7474c4;
    /* border-radius: 5px; */
    margin-right: 43px;
}

.mid {
    margin-left: 329px;
    margin-top: 57px;
    list-style: none;
}

.item {

    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 20px;
    padding-top: 50px;
}


.item-box{
    width: 18%;
    height: 24vh;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#demote-btn{
    width: 30px;
    height: fit-content;
    padding: 15px 30px;
    border-radius: 10px;

}
.mycon table tr{
    text-align: center;
}

#active-hover-sidebar-1{
    background-color: #7474c4;
    border-radius: 5px;
    margin-right: 43px;
    padding-left: 20px;
}
.mycon table td:last-child {
    width: 20%;
}


.item li {
    padding: 7px;
    font-weight: bold;
    font-size: 17px;
}

.line {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 2px 0;
    /* border: 2px solid black; */
    background-color: rgb(222 222 255 / 33%);
    margin-top: 10px;
    margin-bottom: 5px;
}

.line li {
    margin-left: 90px;
    margin-right: 63px;
    font-size: 20px;
    font-weight: 550;
}

.mycon {
    list-style: none;
    display: flex;
    justify-content:left;
    margin: 5px 10px 5px 20px;
}

.atr1, .atr2, .atr3{
    font-size: 19px;
    font-weight: 400;
    width: 20%;
    margin-left: 7px;
    margin-bottom: 5px;
    text-align: center;
}

.atr1 li, .atr2 li, .atr3 li{
    font-size: 19px;
    font-weight: 400;
    margin: 16px 0;
    cursor: pointer;
}


/* .atr4 {
    background-color: #cd97ff;
    padding: auto;
    font-size: 18px;
    width: 92px;
    text-align: center;
    margin: 5px 8px;
    padding: 7px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
} */

.atr4 a{
    background-color: #29ef8f;
    padding: auto;
    font-size: 15px;
    font-weight: 600;
    width: 84px;
    text-align: center;
    margin: 19px 8px;
    color: black;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    height: 19px;
}

.atr5 a{
    background-color: #d53636;
    padding: auto;
    font-size: 15px;
    font-weight: 600;
    width: 84px;
    text-align: center;
    margin: 19px 8px;
    color: black;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    height: 19px;
}