@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    font-family: 'Serif', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    margin-top: 100px;
}

#headbox{
    width: 50vw;
}

@media screen and (max-width: 768px) {
    #headbox{
        width: 80vw;
    }
}

.aligncenter{
    display: flex;
    align-items: center;
    height: 20px;
    margin: 10px 20px;
}


li {
    font-weight: 500;
    font-size: large;
}

.btn-primary {
    background-color: #D9D9D9;
    border: none;
    color: black;
    margin: 0 1rem;
    padding: 0.5rem 2rem;
}

.btn-link {
    color: black;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #595F9B;
}

.head {
    background-color: #595F9B;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-align: left;
    padding: 8px 29px;
    color: white;
    font-size: 17px;
    padding: 1.5rem;
}

.question {
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px #D9D9D9;
    padding: 1.5rem 6rem 0;
}

.text-answer {
    background-color: #D9D9D9;
    margin: 5px 3px;
    border-radius: 0.5rem;
    display: flex;
    
}

/* .pie-chart {
    position: relative;
    left: 13vw;
} */