@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: poppins !important;
  overflow-x: hidden;
  box-sizing: border-box;
  }
  
  .main-page-container{
    /* margin:%; */
    /* width: vw; */
    height: 100vh;
    margin: auto;
    margin-top: 75px;
    margin-left: 150px;
    margin-bottom: 20px;
    padding: 5%;
    /* background-color: black; */
    border-radius: 30px;
    align-items: center;
  }

  .heading{
    padding: 10px;
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    border-bottom: solid 3px rgb(149, 167, 182);
    border-top: solid 3px rgb(149, 167, 182);
    border-radius: 10px;
  }

  .heading-box{
    margin: auto;
    width: 99%;
    height: 10vh;
    margin-bottom: 20px;
    border: outset;
    background-color: rgb(138, 200, 255);
    border-radius: 10px;
    font-size: xx-large;
  }

  .heading-box::placeholder{
    font-weight: bold;
    font-size: xx-large;
    opacity: 0.75;
    color: black;
  }

  .description-box{
    margin: auto;
    border: 5px black;
    width: 99%;
    height: 8vh;
    word-wrap:normal;
    font-size: large;
    border-bottom: solid black;
    border-width: 2px;
  }

  .main-form{
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 20px; 
    background-color: aliceblue;
    border-top: solid 3px rgb(149, 167, 182);
    border-bottom: solid 3px rgb(149, 167, 182);
    border-radius: 10px; 
  }

  .question{
    margin: auto;
    margin-bottom: 20px;
    border: 5px black;
    width: 99%;
    background-color: rgb(194, 224, 249);
    border-left: solid 3px rgb(149, 167, 182);
    border-right: solid 3px rgb(149, 167, 182);
    border-radius: 10px;
  }

  .question-box{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 70%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }

  .answer-box{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 70%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }


  /* #add-question:hover{
    background-color: #4CAF50;
    color: white
  } */

  /* #answer-type-button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
    cursor: pointer;
    transition: 0.5s;
  } */

/*==============================================*/
.dropbtn {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 27px;
  width: 100%;
  height: 5vh;
  font-size: normal;
  border: none;
  border-bottom: solid 1px black;  
  cursor: pointer;
  transition: 0.5s; 
  /* margin: auto; */
  /* margin-top: 15px; */
  /* margin-bottom: 10px; */
  /* margin-left: 25px; */
  /* height: 5vh; */
  /* font-size: normal; */
  /* border: none; */
  /* border-bottom: solid 1px black;   */
  /* cursor: pointer; */
  /* transition: 0.5s; */

  /* background-color: #04AA6D; */
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
  /* border: none; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 20%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: aliceblue;}
/*==============================================*/
  .check-box{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 45%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }

  .radio-box{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 45%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }

  .file-input-text{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .file-input{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
  }

  .input-date{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
  }

  .input-time{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
  }

  #add-field-button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 27px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
    cursor: pointer;
    transition: 0.5s; 
  }

  #delete-field-button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black; 
    cursor: pointer;
    transition: 0.5s;  
  }

  .delete-question{
    /* float: right; */
    object-fit: fill;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    right: -95%;
    background-color: rgb(194, 224, 249);
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10x;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: none;
  }

  #delete-question-image{
    object-fit: fill;
    border: 0;
    width: 25px;
    height: 25px;
    background-color: rgb(194, 224, 249);

    /* font-size: normal; */
    /* border: none; */
    /* border-bottom: solid 1px black;  */
  
  }
  
  #add-question{
    /* margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px; */
    width: 90%;
    height: 5vh;
    font-size: normal;
    border: solid 1px black;  
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    cursor: pointer;
    transition: 0.5s;
  }

  /* Sidebar */

  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
}

.sidebar{
   position: fixed;
   width: 200px;
   top: 75px;
   left: 5px;
   bottom: 5px;
   background: #37827f;
   padding-top: 50px;
   border-radius: 10px;
}

/* Configuration for heading if needed*/
/* .sidebar h1{
   display: block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 25px;
   text-transform: uppercase;
} */

.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}



  /* footer */
  /* Removing Footer to avoid unnecessary complications */
  /* .logo-footer-img{
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  #footer-mainpage{
    
    width: 100vw;
    height: 100px;
    background-color: #144b48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
  }
  
  .left-footer{
    width: 25%;
    height: 100%;
    background-color: #144b48;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
  }
  
  #copyright-text{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .right-footer{
    width: 30%;
    height: 100%;
    background-color: #144b48;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  
  .social-media-links{
    width: 100px;
    height: 100px;
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 7rem;
  }
  
  .social-media-link{
    width: 50px;
    height: 50px;
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .social-icon{
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 2rem;
    
  }
  
  #copyright-text{
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin-left: 50px;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  } */
