@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
  margin: 0;
  padding: 0;
  font-family: poppins !important;
  overflow-x: hidden;
  box-sizing: border-box;
  }
  
  .main-page-container{
    /* margin:%; */
    /* width: vw; */
    height: 100vh;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5%;
    /* background-color: black; */
    border-radius: 30px;
    align-items: center;
  }

  .heading{
    padding: 10px;
    width: 50vw;
    margin: auto;
    background-color: #595f9b;
    /* border-bottom: solid 3px rgb(149, 167, 182);
    border-top: solid 3px rgb(149, 167, 182); */
    border-radius: 10px;
  }

  .heading-box{
    margin: auto;
    width: 95%;
    height: 10vh;
    margin-bottom: 10px;
    margin-left: 12px;
    background-color: #595f9b;
    border: none;
    outline: none;
    /* border-radius: 10px; */
    font-size: xx-large;
    color: #ffffff;
  }

  .heading-box::placeholder{
    font-weight: bold;
    font-size: xx-large;
    opacity: 0.75;
    color: white;
  }

  .description-box{
    margin: auto;
    /* border: 5px black; */
    width: 95%;
    height: 5vh;
    word-wrap:normal;
    font-size: large;
    background-color: #595f9b;
    border: none;
    margin-left: 12px;
    margin-bottom: 10px;
    color: white;
    outline: none;
    /* border-bottom: solid black; */
    /* border-width: 2px; */
  }

  .description-box::placeholder{
    font-size: large;
    opacity: 0.75;
    color: white;
  }

  .main-form{
    padding: 10px;
    width: 50vw;
    margin: auto;
    margin-top: 20px; 
    background-color: white;
    /* border-top: solid 3px rgb(149, 167, 182);
    border-bottom: solid 3px rgb(149, 167, 182); */
    border-radius: 10px; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 2em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .question{
    margin: auto;
    margin-bottom: 20px;
    border: 5px black;
    width: 99%;
    /* background-color: rgb(194, 224, 249);
    border-left: solid 3px rgb(149, 167, 182);
    border-right: solid 3px rgb(149, 167, 182); */
    border-radius: 10px;
  }

  .question-number{
    margin: auto;
    margin-top: 10px;
    margin-left: 15px;
    width: 25%;
    height: 5vh;
    font-size: normal;
    border: none;
    font-family: poppins !important;
  }

  .question-box{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 60%;
    height: 5vh;
    font-size: normal;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
  }

   .answer-type, .answer-type option{
    /* position: relative; */
    margin: auto;
    margin-left: 15px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }

  #add-opt, #remove-opt{
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: #585858(120, 120, 120);
    border: 1px solid black(120, 120, 120);
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    text-decoration: none;
  }

  .input-field{
    margin: auto; 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 45%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
  }

  .delete-question{
    margin: auto;
    margin-left: 15px;
    margin-bottom: 5px;
    width: 25%;
    height: 5.2vh;
    font-size: normal;
    border: none;
    /* border-bottom: solid 1px black; */
    cursor: pointer;
    transition: 0.5s;  
    background-color: #595F9B;
    border: 1px solid #595F9B;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .btm-container{
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 10px;
    width: 50vw;
    margin: auto;
    margin-top: 20px; 
    background-color: white;
    /* border-top: solid 3px rgb(149, 167, 182);
    border-bottom: solid 3px rgb(149, 167, 182); */
    border-radius: 10px; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 2em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .private{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50vw; 
    background-color: white;
  }

  .time-limit{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50vw; 
    background-color: white;
  }

  .date{
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    text-align: center;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    margin-left: 15px;
    width: 23%;
    height: 5vh;
    letter-spacing: 1.5px;
    font-size: 14px;
  }

  .time{
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    text-align: center;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    margin-left: 15px;
    width: 13%;
    height: 5vh;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-right: 20px;
  }

  .answer-box{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 70%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
  }

  .multiple-box{
    margin: auto; 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 45%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    /* background-color: black; */

  } 

  .radio-box{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 45%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;
    /* background-color: black; */
  }

  .file-input-text{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .file-input{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
  }

  .input-date{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
  }

  .input-time{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
  }

  #add-field-button{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 27px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    border: none;
    border-bottom: solid 1px black;  
    cursor: pointer;
    transition: 0.5s; 
  }

  #delete-field-button{
    margin: auto;
    margin-left: 25px;
    width: 20%;
    height: 5vh;
    font-size: normal;
    /* border: none;
    border-bottom: solid 1px black;  */
    cursor: pointer;
    transition: 0.5s;  

    background-color: #595F9B;
    border: 1px solid #595F9B;
    color: white;
    /* margin-top: 80px;
    /* display: flex; */
    font-size: 16px;
    font-weight: 600; 
    padding-top: 8px;
    padding-bottom: 8px;
  }


  #add-question{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 60px; 
    width: 30%;
    height: 5vh;
    font-size: normal;
    border: solid 1px black;  
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    cursor: pointer;
    transition: 0.5s;
  }




  /* footer */
  /* Removing Footer to avoid unnecessary complications */
  /* .logo-footer-img{
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  #footer-mainpage{
    
    width: 100vw;
    height: 100px;
    background-color: #144b48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
  }
  
  .left-footer{
    width: 25%;
    height: 100%;
    background-color: #144b48;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
  }
  
  #copyright-text{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .right-footer{
    width: 30%;
    height: 100%;
    background-color: #144b48;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  
  .social-media-links{
    width: 100px;
    height: 100px;
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 7rem;
  }
  
  .social-media-link{
    width: 50px;
    height: 50px;
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .social-icon{
    background-color: #144b48;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 2rem;
    
  }
  
  #copyright-text{
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin-left: 50px;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  } */

  @import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #595f9b;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px #595f9b;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}